@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  cursor:crosshair;
}
canvas {
  display: block;
}
nav {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255,255,255, .2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

nav a {
    padding: 1rem;
    color:rgba(0,0,0,.75);
}

nav a:hover{
    color:rgba(0,0,0,1);
} 

nav a.aqui{
    text-decoration: none;
    color:rgba(0,0,0,.5);
}
aside {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
width: 38vw;
}
@media (orientation: portrait) {
    aside {
        width: 62vw;
    }
}

aside p {
    font-size: 1.38rem;
    line-height: 1.38;
    color:rgba(0,0,0,.6);
}